// Variables
$black: black;
$primary: #E95420;
$black:              #000 !default;
$gray-darker:            lighten($black, 13.5%) !default; // #222
$gray-dark:              #333 !default;   // #333
$gray:                   #777 !default; // #555
$gray-light:             #AEA79F !default;   // #999
$gray-lighter:           lighten($black, 93.5%) !default; // #eee

$brand-primary:         #E95420 !default;
$brand-success:         #38B44A !default;
$brand-info:            #772953 !default;
$brand-warning:         #EFB73E !default;
$brand-danger:          #DF382C !default;
$dropdown-link-color:$primary;

$code-color:                  #c7254e !default;
$code-bg:                     #ffffff !default;
$kbd-bg:                      #333 !default;

$pre-bg:                      #f5f5f5 !default;
$pre-color:                   $gray-dark !default;
$pre-border-color:            #ccc !default;
$pre-scrollable-max-height:   340px !default;


//FONTS

$font-primary: 'Audiowide', cursive;
$font-body:"Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif; 


$border-rad : 10px;
